#home1 {
  text-align:center;
  padding:50px;
  background:url(../../assets/img/home1.jpg) no-repeat;
  background-size:cover;
  margin:0 auto;
}

#home1 .jumbotron {
  background-color:rgba(255,255,255,0.26);
  padding:40px;
  max-width:800px;
  margin:0 auto;
}

#home2 {
  text-align:center;
  padding:50px;
  background:url(../../assets/img/home2.jpg) no-repeat;
  background-size:cover;
  margin:0 auto;
  max-width:1500px;
}

#home2 .jumbotron {
  background-color:rgba(255,255,255,0.26);
  padding:30px;
  max-width:600px;
  margin:0 auto;
}

#home3 {
  text-align:center;
  padding:50px;
  background:url(../../assets/img/home3.jpg) no-repeat;
  background-size:cover;
  margin:0 auto;
  max-width:1500px;
}

#home3 .jumbotron {
  background-color:rgba(255,255,255,0.26);
  padding:30px;
  max-width:600px;
  margin:0 auto;
}

#contact_form {
  width:auto;
  height:auto;
}

#contact-box {
}

